*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(176, 207, 219);
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;  
    align-items: center;
}
h1{
    text-align:center;
    color:blueviolet;
    margin:0px 0px 5% 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    position:absolute;
    color:aqua;
    top: 10px;
    left: 10px;
    font-size: 33px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    z-index: 10;
}

.row {
    display: flex;
    justify-content: center;  
    align-items: center;
}

.col {
    height: 120px;
    width: 120px;
    border: 3px solid rgb(255, 255, 255);
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:70px;
    color:rgb(183, 162, 133)
}
